<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue</title>
</head>
<body>

    <div id="root">
        <h2>数据筛选</h2>
        <input type="text" placeholder="请输入姓名" v-model="keyname">
        <ul>
            <li v-for="(l,index) in lists" :key="l.id">
                {{l.name}}------{{l.age}}------{{l.sex}}
            </li>
        </ul>
    </div>

    <script src="vue.js"></script>
    <script>
    Vue.config.productionTip = false
    
    new Vue({
        el:'#root',
        data:{
            keyname:'',
            list:[
                {id:'001',name:'谭松韵',age:'20',sex:'女'},
                {id:'002',name:'布吉岛',age:'23',sex:'女'},
                {id:'003',name:'沈腾1',age:'24',sex:'男'},
                {id:'004',name:'复航2',age:'24',sex:'男'}
            ]
        },
        computed:{
            lists(){
                return this.list.filter((l)=>{
                    return l.name.indexOf(this.keyname) !== -1
                })
            }
        }
    })
    </script>

</body>
</html>